<div class="section">
    <h1 class="title-1">Installation</h1>

    <p>
        Overview of the various available methods for installing Thanatos CSS.
        Follow on the methods outlined below to get Thanatos CSS up and running 
        in your application.
    </p>
</div>

<div class="section">
    <h2 class="title-4">Precompiled CSS</h2>

    <p>
        If you don't ant to customize the generated CSS you can simply reference the pre-compiled
        CSS in a <code>&lt;link&gt;</code> tag in your applications <code>&lt;head&gt;</code> tag.
    </p>

    

    <button type="button" class="button fill-green text-white is-rounded is-shadowed"
        onclick="window.open('https://raw.githubusercontent.com/NSSure/thanatos-css/master/css/thanatos.css', '_blank')">
        <i class="fa fa-external-link fa-lg text-light"></i>&nbsp; Compiled CSS
    </button>
</div>

<div class="section">
    <h2 class="title-4">Using NPM</h2>

    <p>You can install the framework through NPM be running the command below</p>

    <pre class="fill-dark">
        <span class="code-line text-light">&gt; npm install thanatos-css</span>
    </pre>

    Then you can simply add the generated
</div>