<div class="mb-large">
    <h1 class="title-1">Thanatos CSS</h1>
    <p>
        A simple and responsive front-end framework designed to
        empower quick and easy application prototyping and design.
    </p>
</div>

<div class="actions mb-large">
    <button type="button" class="button button-dark is-rounded is-shadowed mr-small" onclick="window.open('https://github.com/NSSure/thanatos-css', '_blank')">
        <i class="fa fa-github fa-lg"></i>&nbsp; Source Code
    </button>
    <button type="button" class="button fill-green text-white is-rounded is-shadowed"
        onclick="window.location.href = 'source-code'">
        <i class="fa fa-download fa-lg text-light"></i>&nbsp; Download version 0.1.0
    </button>
</div>

<pre class="fill-dark">
    <span class="code-line text-light">&gt; npm install thanatos-css</span>
</pre>

<style>
    .content {
        background-color: #f7f7f7;
    }
</style>