<script>
    function toggleAnimation(toggleId, targetId, animation) {
        var toggleElement = document.getElementById(toggleId);
        var animationElement = document.getElementById(targetId);

        if (animationElement.classList.contains(animation)) {
            toggleElement.innerText = "(Play)";
            animationElement.classList.remove(animation);
        }
        else {
            toggleElement.innerText = "(Stop)";
            animationElement.classList.add(animation);
        }
    }
</script>

<div class="section">
    <h1 class="title-1">Animations</h1>

    <p>
        Animations can be applied to any element. Each of the animations below can be
        setup to loop by simply adding the
        <code>.loop</code> class to the element that contains the animation class.
    </p>
</div>

<div class="section">
    <h2 class="title-4">Animations</h2>

    <div class="mb-large">
        <label class="help-text">
            <span>Pulse</span>
            <span>&nbsp;//&nbsp;</span>
            <a id="pulseAnimationToggle" onclick="toggleAnimation('pulseAnimationToggle', 'pulseAnimationTarget', 'pulse')" class="text-link cursor-pointer">(Play)</a>
        </label>

        <p>A single pulse in and out when not specified to loop the animation.</p>

        <pre>
            <span class="code-line">
                <span class="tag">&lt;button </span>
                <span class="attribute">class=</span>
                <span class="value">"button pulse loop"</span>
                <span class="tag">&gt;</span>
                <span>Pulse animation</span>
                <span class="tag">&lt;/button&gt;</span>
            </span>
        </pre>

        <button type="button" class="button loop" id="pulseAnimationTarget">Pulse animation</button>
    </div>

    <div class="mb-large">
        <label class="help-text">
            <span>Rotate</span>
            <span>&nbsp;//&nbsp;</span>
            <a id="rotateAnimationToggle" onclick="toggleAnimation('rotateAnimationToggle', 'rotateAnimationTarget', 'rotate')" class="text-link cursor-pointer">(Play)</a>
        </label>

        <p>
            Rotates the element applied with the class one rotation
            unless specified to be continuous by
            applying the <code>.loop</code> class.
        </p>

        <pre>
            <span class="code-line">
                <span class="tag">&lt;button </span>
                <span class="attribute">class=</span>
                <span class="value">"button rotate loop"</span>
                <span class="tag">&gt;</span>
                <span>Pulse animation</span>
                <span class="tag">&lt;/button&gt;</span>
            </span>
        </pre>

        <button type="button" class="button loop" id="rotateAnimationTarget">Rotate animation</button>
    </div>

    <div class="mb-large">
        <label class="help-text">
            <span>Fade</span>
            <span>&nbsp;//&nbsp;</span>
            <a id="fadeAnimationToggle" onclick="toggleAnimation('fadeAnimationToggle', 'fadeAnimationTarget', 'fade')" class="text-link cursor-pointer">(Play)</a>
        </label>

        
        <p>
            Specifies that you want to apply a fade animation 
            to the given element (DOES NOT actually animation
            the element).
        </p>

        <pre>
            <span class="code-line">
                <span class="tag">&lt;button </span>
                <span class="attribute">class=</span>
                <span class="value">"button fade loop"</span>
                <span class="tag">&gt;</span>
                <span>Pulse animation</span>
                <span class="tag">&lt;/button&gt;</span>
            </span>
        </pre>

        <button type="button" class="button loop" id="fadeAnimationTarget">Fade animation</button>
    </div>
</div>

<div class="section">
    <h2 class="title-4">Global Modifiers</h2>

    <table class="table is-rounded is-shadowed mb-default">
        <thead class="fill-light">
            <tr>
                <th>Class</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <code>.loop</code>
                </td>
                <td>
                    Causes an infinite repeat of the animation applied to the element
                </td>
            </tr>
        </tbody>
    </table>
</div>