<div class="section">
    <h1 class="title-1">Breadcrumbs</h1>
    <p>
        A basic breadcrumb component.
    </p>
</div>

<ul class="breadcrumb mb-large is-rounded is-shadowed">
    <li><a>Home</a></li>
    <li><a>Link 1</a></li>
    <li><a>Link 2</a></li>
    <li class="active"><a>Link 3</a></li>
</ul>

<label class="help-text mb-default">Example</label>

<pre>
    <span class="code-line">
        <span class="tag">&lt;ul </span>
        <span class="attribute">class</span>
        <span class="value">"breadcrumb mb-default is-rounded is-shadowed"</span>
        <span class="tag">&gt;</span>
    </span>
    <!-- Root link. -->
    <span class="code-line">
        <span class="tag">&#9;&lt;li&gt;</span>
    </span>
    <span class="code-line">
        <span class="tag">&#9;&#9;&lt;a </span>
        <span class="attribute">href=</span>
        <span class="value">"#"</span>
        <span class="tag">></span>
        <span>Root Link</span>
        <span class="tag">&lt;/a&gt;</span>
    </span>
    <span class="code-line">
        <span class="tag">&#9;&lt;/li&gt;</span>
    </span>
    <!-- Child link. -->
    <span class="code-line">
            <span class="tag">&#9;&lt;li&gt;</span>
        </span>
    <span class="code-line">
        <span class="tag">&#9;&#9;&lt;a </span>
        <span class="attribute">href=</span>
        <span class="value">"#"</span>
        <span class="tag">></span>
        <span>Child Link</span>
        <span class="tag">&lt;/a&gt;</span>
    </span>
    <span class="code-line">
        <span class="tag">&#9;&lt;/li&gt;</span>
    </span>
    <!-- Child link. -->
    <span class="code-line">
            <span class="tag">&#9;&lt;li&gt;</span>
        </span>
    <span class="code-line">
        <span class="tag">&#9;&#9;&lt;a </span>
        <span class="attribute">href=</span>
        <span class="value">"#"</span>
        <span class="tag">></span>
        <span>Child Link</span>
        <span class="tag">&lt;/a&gt;</span>
    </span>
    <span class="code-line">
        <span class="tag">&#9;&lt;/li&gt;</span>
    </span>
    <!-- Child link. -->
    <span class="code-line">
            <span class="tag">&#9;&lt;li&gt;</span>
        </span>
    <span class="code-line">
        <span class="tag">&#9;&#9;&lt;a </span>
        <span class="attribute">href=</span>
        <span class="value">"#"</span>
        <span class="tag">></span>
        <span>Child Link</span>
        <span class="tag">&lt;/a&gt;</span>
    </span>
    <span class="code-line">
        <span class="tag">&#9;&lt;/li&gt;</span>
    </span>
    <span class="code-line">
            <span class="tag">&lt;ul&gt;</span>
    </span>
</pre>