<div class="section">
    <h1 class="title-1">Button</h1>
    <p>
        Button component.
    </p>
</div>

<div class="section">
    <p>
        Creating a default button is as easy as adding the
        <code class="code-inline">.button</code> class to the
        button element.
    </p>

    <div class="mb-default">
        <button type="button" class="button">Default Button</button>
        <button type="button" class="button is-large">Large Button</button>
    </div>

    <p>Here are some example of applying different themes to a button</p>

    <pre>
        <div class="code-line">
            <span class="tag">&lt;button </span>
            <span class="attribute">type=</span>
            <span class="value">"button" </span>
            <span class="attribute">class=</span>
            <span class="value">"button"</span>
            <span class="tag">&gt;</span>
            <span>Default Button</span>
            <span class="tag">&lt;/button&gt;</span>
        </div>
    </pre>
</div>

<div class="section">
    <h2 class="title-4">Button Sizing</h2>
    <p>You can use the four built in size helpers to size buttons to your desired size.</p>

    <ul>
        <li>Small</li>
        <li>Default</li>
        <li>Medium</li>
        <li>Large</li>
    </ul>

    <label class="help-text mb-default">Example</label>

    <div class="code-preview">
        <pre>
            <div class="code-line">
                <span class="tag">&lt;button </span>
                <span class="attribute">type=</span>
                <span class="value">"button" </span>
                <span class="attribute">class=</span>
                <span class="value">"button is-small"</span>
                <span class="tag">&gt;</span>
                <span>Small Button</span>
                <span class="tag">&lt;/button&gt;</span>
            </div>
            <div class="code-line">
                <span class="tag">&lt;button </span>
                <span class="attribute">type=</span>
                <span class="value">"button" </span>
                <span class="attribute">class=</span>
                <span class="value">"button is-default"</span>
                <span class="tag">&gt;</span>
                <span>Default Button</span>
                <span class="tag">&lt;/button&gt;</span>
            </div>
            <div class="code-line">
                <span class="tag">&lt;button </span>
                <span class="attribute">type=</span>
                <span class="value">"button" </span>
                <span class="attribute">class=</span>
                <span class="value">"button is-medium"</span>
                <span class="tag">&gt;</span>
                <span>Medium Button</span>
                <span class="tag">&lt;/button&gt;</span>
            </div>
            <div class="code-line">
                <span class="tag">&lt;button </span>
                <span class="attribute">type=</span>
                <span class="value">"button" </span>
                <span class="attribute">class=</span>
                <span class="value">"button is-large"</span>
                <span class="tag">&gt;</span>
                <span>Large Button</span>
                <span class="tag">&lt;/button&gt;</span>
            </div>
        </pre>
        <div class="output">
            <div class="btn-group">
                <button type="button" class="button is-small">Small Button</button>
                <button type="button" class="button">Default Button</button>
                <button type="button" class="button is-medium">Medium Button</button>
                <button type="button" class="button is-large">Large Button</button>
            </div>
        </div>
    </div>
</div>