<div class="section">
    <h1 class="title-1">Cards</h1>
    <p>
        Use the card component when you want to neatly and efficently organize
        your UI into clearly defined section
    </p>
</div>

<div class="card">
    <div class="card-header">
        Header
    </div>
    <div class="card-body">
        <h1 class="card-title">My Card</h1>
        <p class="card-text">Here is some card content as text.</p>
    </div>
</div>