<div class="section">
    <h1 class="title-1">Code</h1>
    <p>
        Inline code and code blocks available.
    </p>
</div>

<div class="section">
    <h2 class="title-4">Inline Code</h2>
    <p>Use a <code>&lt;code&gt;</code> tag to define inline code segments.</p>

    <div class="mb-large">
        <label class="help-text mb-default">Example</label>
        <code>&lt;h1&gt;Sample inline code block&lt;/h1&gt;</code>
    </div>

    <label class="help-text mb-default">Result</label>

    <pre>
        <span class="code-line">
            <span class="tag">&lt;code&gt;</span>
            <span>&amp;lt;h1&amp;gt;Sample inline code block&amp;lt;/h1&amp;gt;</span>
            <span class="tag">&lt;/code&gt;</span>
        </span>
    </pre>
</div>

<div class="section">
    <h2 class="title-4">Preformatted Code</h2>

    <p>Use a <code>&lt;pre&gt;</code> tag to define code blocks spanning multiple lines</p>

    <label class="help-text mb-default">Example</label>
    <pre>
        <span class="code-line">
            <span class="tag">&lt;pre</span>
            <span class="tag">&gt;</span>
        </span>
        <span class="code-line">
            <span class="tag">&lt;code </span>
            <span class="attribute">class</span>
            <span class="value">"code-inline"</span>
            <span class="tag">&gt;</span>
        </span>
        <span class="code-line">
            <span class="tag">&lt;/pre</span>
            <span class="tag">&gt;</span>
        </span>
    </pre>
</div>

<div class="section">
    <h2 class="title-4">Display Code Output</h2>
    <p>
        Sometimes you may want to provide some code snippet or source as well as provide
        what the provided code will result in. You can wrap a <code>&lt;pre&gt;</code> tag
        with the <code>.code-preview</code> class to get a formatted output window below your
        code snippet.
    </p>

    <label class="help-text mb-default">Example</label>

    <pre class="mb-large">
        <span class="code-line">
            <span class="tag">&lt;div </span>
            <span class="attribute">class</span>
            <span class="value">"code-preview"</span>
            <span class="tag">&gt;</span>
        </span>
        <span class="code-line">
            <span class="tag">&#9;&lt;pre&gt;</span>
            <span>Escaped HTML code goes here</span>
            <span class="tag">&lt;/pre&gt;</span>
        </span>
        <span class="code-line">
            <span class="tag">&#9;&lt;div </span>
            <span class="attribute">class</span>
            <span class="value">"output"</span>
            <span class="tag">&gt;</span>
        </span>
        <span class="code-line">
            <span>&#9;&#9;Unescaped HTML goes here</span>
        </span>
        <span class="code-line">
            <span class="tag">&#9;&lt;/div&gt;</span>
        </span>
        <span class="code-line">
            <span class="tag">&lt;/div&gt;</span>
        </span>
    </pre>

    <label class="help-text mb-default">Result</label>

    <div class="code-preview">
        <pre>
            <span class="code-line">
                <span>Escaped HTML code goes here</span>
            </span>
        </pre>
        <div class="output">
            Unescaped HTML goes here
        </div>
    </div>
</div>

<div class="section">
    <h2 class="title-4">Variables</h2>
    <p>Use a <code>&lt;var&gt;</code> tag to denote variable</p>
</div>