<div class="section">
    <h1 class="title-1">Color Swatches</h1>
    <p>
        Used for displaying different color profiles in two different formats. You be use the basic
        color swatch or the color panel.
    </p>
</div>

<div class="section">
    <h2 class="title-4">Basic Swatch</h2>

    <p>
        A basic component for displaying a color square with an associated label.
    </p>

    <label class="help-text mb-default">Example</label>

    <div class="swatch mr-default mb-default">
        <div class="color fill-green"></div>
        <span class="name">Green</span>
    </div>
</div>

<div class="section">
    <h2 class="title-4">Swatch Panel</h2>

    <p>
        Allows for the color to be displayed in a panel format with an associated label.
    </p>

    <label class="help-text mb-default">Example</label>

    <div class="row">
        <div class="column lg-4">
            <div class="row">
                <div class="column">
                    <div class="swatch-panel is-shadowed">
                        <div class="color fill-green"></div>
                        <span class="name">Green</span>
                    </div>
                </div>
                <div class="column">
                    <div class="swatch-panel is-shadowed">
                        <div class="color fill-blue"></div>
                        <span class="name">Blue</span>
                    </div>
                </div>
                <div class="column">
                    <div class="swatch-panel is-shadowed">
                        <div class="color fill-red"></div>
                        <span class="name">Red</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>