<div class="section">
    <h1 class="title-1">Grid Layout</h1>
    <p>
        Thanatos CSS uses flex box to define a simple grid system. The grid system allows
        for efficent and easy layout creation.
    </p>
</div>

<div class="section">
    <h2 class="title-4">Rows</h2>
    <p class="mb-large">Use the <code>.row</code> class to group columns together</p>

    <div class="row">
        <div class="column fill-blue-lighten-3 p-default is-rounded" style="height: 50px;"></div>
        <div class="column fill-blue-lighten-3 p-default is-rounded" style="height: 50px;"></div>
    </div>
    <div class="row">
        <div class="column fill-blue-lighten-3 p-default is-rounded" style="height: 50px;"></div>
        <div class="column fill-blue-lighten-3 p-default is-rounded" style="height: 50px;"></div>
        <div class="column fill-blue-lighten-3 p-default is-rounded" style="height: 50px;"></div>
    </div>
</div>

<div class="section">
    <h2 class="title-4">Columns</h2>
    <p>Use the <code>.row</code> class to group columns together</p>

    <div class="row">
        <div class="column fill-blue-lighten-3 text-white p-default is-rounded" style="height: 50px;">First column</div>
        <div class="column fill-blue-lighten-3 text-white p-default is-rounded" style="height: 50px;">Second column</div>
        <div class="column fill-blue-lighten-3 text-white p-default is-rounded" style="height: 50px;">Third column</div>
        <div class="column fill-blue-lighten-3 text-white p-default is-rounded" style="height: 50px;">Fourth column</div>
    </div>

    <div class="row">
        <div class="column sm fill-blue-lighten-3 text-white p-default is-rounded" style="height: 50px;">First column</div>
        <div class="column fill-blue-lighten-3 text-white p-default is-rounded" style="height: 50px;">Second column</div>
        <div class="column fill-blue-lighten-3 text-white p-default is-rounded" style="height: 50px;">Third column</div>
    </div>

    <pre>
        <span class="code-line">
            <span class="tag">&lt;div </span>
            <span class="attribute">class=</span>
            <span class="value">"row"</span>
            <span class="tag">&gt;</span>
        </span>
        <span class="code-line">
            <span class="tag">&#9;&lt;div </span>
            <span class="attribute">class=</span>
            <span class="value">"column"</span>
            <span class="tag">&gt;</span>
            <span>First column</span>
            <span class="tag">&lt;/div&gt;</span>
        </span>
        <span class="code-line">
            <span class="tag">&#9;&lt;div </span>
            <span class="attribute">class=</span>
            <span class="value">"column"</span>
            <span class="tag">&gt;</span>
            <span>Two column</span>
            <span class="tag">&lt;/div&gt;</span>
        </span>
        <span class="code-line">
            <span class="tag">&#9;&lt;div </span>
            <span class="attribute">class=</span>
            <span class="value">"column"</span>
            <span class="tag">&gt;</span>
            <span>Three column</span>
            <span class="tag">&lt;/div&gt;</span>
        </span>
        <span class="code-line">
            <span class="tag">&#9;&lt;div </span>
            <span class="attribute">class=</span>
            <span class="value">"column"</span>
            <span class="tag">&gt;</span>
            <span>Four column</span>
            <span class="tag">&lt;/div&gt;</span>
        </span>
        <span class="code-line">
            <span class="tag">&lt;/div&gt;</span>
        </span>
    </pre>
</div>

<div class="section">
    <h2 class="title-4">Sizing</h2>

    <div class="row">
        <div class="column sm6 fill-blue-lighten-3 text-white p-default is-rounded justify-content-center align-items-center" style="height: 50px;">First column</div>
        <div class="column fill-blue-lighten-3 text-white p-default is-rounded justify-content-center align-items-center" style="height: 50px;">Second column</div>
    </div>
</div>

<div class="section">
    <table class="table table-hoverable is-rounded is-shadowed mb-default">
        <thead class="fill-light">
            <tr>
                <th>Class</th>
                <th>Description</th>
                <th>Target Element</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code class="code-inline">container</code></td>
                <td>Description of the container class</td>
                <td><code class="code-inline">div</code></td>
            </tr>
            <tr>
                <td><code class="code-inline">container-flush</code></td>
                <td>Description of the container class</td>
                <td><code class="code-inline">div</code></td>
            </tr>
        </tbody>
    </table>
</div>