<div class="section">
    <h1 class="title-1">Labels</h1>
    <p>
        Labels
    </p>
</div>

<div class="section mb-large">
    <div class="row">
        <div class="column">
            <span class="label is-shadowed">
                <span class="label-title">version</span>
                <span class="label-details">1.0.0</span>
            </span>
        </div>
    </div>
</div>