<div class="section">
    <h1 class="title-1">Pagination</h1>
    <p>
        The pagination control used to display the pagination state of listing and 
        other UI components.
    </p>
</div>

<div class="section">
    <h2 class="title-4">Default Pagination</h2>

    <p>
        The default pagination component with no additional helper classes applied.
    </p>

    <label class="help-text mb-large">Example</label>

    <ul class="pagination mb-default">
        <li>
            <a href="#">&larr;</a>
        </li>
        <li class="active">
            <a href="#">1</a>
        </li>
        <li>
            <a href="#">2</a>
        </li>
        <li>
            <a href="#">3</a>
        </li>
        <li>
            <a href="#">4</a>
        </li>
        <li>
            <a href="#">5</a>
        </li>
        <li>
            <a href="#">&rarr;</a>
        </li>
    </ul>

    <h2 class="title-4">Customized Pagination</h2>

    <p>
        The default pagination components with some additional help classes applied. This example uses
        the <code>.is-shadowed</code> as well as the <code>.is-bordered</code> helpers. You can experiment with various
        helper classes to reached the desired look of your component.
    </p>

    <label class="help-text mb-large">Example</label>

    <ul class="pagination mb-default is-rounded is-shadowed">
        <li>
            <a href="#">&larr;</a>
        </li>
        <li class="active">
            <a href="#">1</a>
        </li>
        <li>
            <a href="#">2</a>
        </li>
        <li>
            <a href="#">3</a>
        </li>
        <li>
            <a href="#">4</a>
        </li>
        <li>
            <a href="#">5</a>
        </li>
        <li>
            <a href="#">&rarr;</a>
        </li>
    </ul>



    <pre>
        <span class="code-line">
            <span class="tag">&lt;ul </span>
            <span class="attribute">class</span>
            <span class="value">"pagination"</span>
            <span class="tag">&gt;</span>
        </span>
        <!-- Pagination control. -->
        <span class="code-line">
            <span class="tag">&nbsp;&nbsp;&lt;li </span>
            <span class="attribute">class=</span>
            <span class="value">"pagination-control"</span>
            <span class="tag">&gt;</span>
        </span>
        <span class="code-line">
            <span class="tag">&nbsp;&nbsp;&nbsp;&nbsp;&lt;a </span>
            <span class="attribute">href=</span>
            <span class="value">"#"</span>
            <span class="tag">></span>
            <span>Previous</span>
            <span class="tag">&lt;/a&gt;</span>
        </span>
        <span class="code-line">
            <span class="tag">&nbsp;&nbsp;&lt;/li&gt;</span>
        </span>

        <span>   [Page items go here...]</span>

        <!-- Pagination control. -->
        <span class="code-line">
            <span class="tag">&nbsp;&nbsp;&lt;li </span>
            <span class="attribute">class=</span>
            <span class="value">"pagination-control"</span>
            <span class="tag">&gt;</span>
        </span>
        <span class="code-line">
            <span class="tag">&nbsp;&nbsp;&nbsp;&nbsp;&lt;a </span>
            <span class="attribute">href=</span>
            <span class="value">"#"</span>
            <span class="tag">></span>
            <span>Next</span>
            <span class="tag">&lt;/a&gt;</span>
        </span>
        <span class="code-line">
            <span class="tag">&nbsp;&nbsp;&lt;/li&gt;</span>
        </span>
        <span class="code-line">
                <span class="tag">&lt;ul&gt;</span>
        </span>
        </pre>
</div>