<div>
    <div class="section">
        <h1 class="title-1">Tooltip</h1>
        <p>
            The tooltip component used to quickly and easily convey information in bite sized
            chunks.
        </p>

        <label class="help-text mb-large">EXAMPLE</label>

        <div class="tooltip">
            <div class="tooltip-source">
                <button type="button" class="button button-dark">Hover me</button>
            </div>
            <div class="tooltip-content fade in">
                This is tooltip content
            </div>
        </div>
    </div>

</div>