<div class="section">
    <h1 class="title-1">Typography</h1>
    <p>
        Documentation and examples for typography. Includes headers, paragraphs and other related
        typography information. There are some basic sass variables that control the base look of all
        typography styles. You can override these defaults with your values to get a look feel suited to 
        your needs.
    </p>
</div>

<div class="section mb-large">
    <h2 class="title-4">Titles</h2>

    <p>
        Titles can be created by applying the one of the five title classes to any header element.
    </p>

    <label class="help-text mb-large">Example</label>

    <div class="code-preview mb-large">
        <pre>
            <span class="code-line">
                <span class="tag">&lt;h1 </span>
                <span class="attribute">class=</span>
                <span class="value">"title-1"</span>
                <span class="tag">&gt;&lt;/h1&gt;</span class="tag">
            </span> 
        </pre>
        <div class="output">
            <h1 class="title-1 mb-none">Title 1</h1>
        </div>
    </div>
    
    <div class="code-preview mb-large">
        <pre>
            <span class="code-line">
                <span class="tag">&lt;h2 </span>
                <span class="attribute">class=</span>
                <span class="value">"title-2"</span>
                <span class="tag">&gt;&lt;/h2&gt;</span class="tag">
            </span> 
        </pre>
        <div class="output">
            <h2 class="title-2 mb-none">Title 2</h2>
        </div>
    </div>

    <div class="code-preview mb-large">
        <pre>
            <span class="code-line">
                <span class="tag">&lt;h3 </span>
                <span class="attribute">class=</span>
                <span class="value">"title-3"</span>
                <span class="tag">&gt;&lt;/h3&gt;</span class="tag">
            </span> 
        </pre>
        <div class="output">
            <h3 class="title-3 mb-none">Title 3</h3>
        </div>
    </div>

    <div class="code-preview mb-large">
        <pre>
            <span class="code-line">
                <span class="tag">&lt;h4 </span>
                <span class="attribute">class=</span>
                <span class="value">"title-4"</span>
                <span class="tag">&gt;&lt;/h4&gt;</span class="tag">
            </span> 
        </pre>
        <div class="output">
            <h4 class="title-4 mb-none">Title 4</h4>
        </div>
    </div>

    <div class="code-preview mb-large">
        <pre>
            <span class="code-line">
                <span class="tag">&lt;h5 </span>
                <span class="attribute">class=</span>
                <span class="value">"title-5"</span>
                <span class="tag">&gt;&lt;/h5&gt;</span class="tag">
            </span> 
        </pre>
        <div class="output">
            <h5 class="title-5 mb-none">Title 5</h5>
        </div>
    </div>
</div>